---
- name: install usefull packages
  apt:
    name:
      - curl
      - jq
      - systemd-coredump
    state: present
  when: ansible_facts["os_family"] == 'Debian'

- name: install usefull packages
  dnf:
    name: 
      - curl-minimal
      - jq
      - libxcrypt-compat
    state: latest
  when: ansible_facts["os_family"] == 'RedHat'
