name: AWS x86 graalvm latest
on:
  workflow_dispatch:

permissions:
      id-token: write
      contents: read

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Packer
        uses: hashicorp-contrib/setup-packer@v1
        with:
          packer-version: '1.11.2'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_SELLER }}
          aws-region: eu-west-3

      - name: Build image from template
        run: cd packer; packer init aws-x86-graal.pkr.hcl

      - name: Build image from template
        run: ./build-aws-x86-graal.sh --java-major 25 --graalvm-version 25.0.0--copy-regions true --profile default --latest true
